:root, .dark {
  --link-color: var(--primary);
  --link-hover-color: #dea404;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #dea404;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.post-description { margin: var(--content-gap) 0; color: var(--secondary);
    opacity: .8;
    /* padding-left: .5em; */
    /* border-left: 8px solid var(--signature); */
}

.post-content, .home-info {
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.post-content > p:first-of-type::first-letter {
    float: left;
    font-size: 4em;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0px;
    /* font-family: Georgia; */
}

.post-content sup a::after, .post-content sup a::before {
    content: "";
}

@font-face {
    font-family: "Bookerly";
    src: url("/fonts/bookerly_bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Bookerly";
    src: url("/fonts/bookerly_bold_italic-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Bookerly";
    src: url("/fonts/bookerly_italic-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Bookerly";
    src: url("/fonts/bookerly-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Bookerly, serif;
}
